* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  background: url("../images/Burger-image.jpg");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 767px) {
  main {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background: url(../images/Burger-image.jpg);
  }
}

p {
  font-weight: 300;
  color: #fff;
}

.Home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.Home .content {
  max-width: 900px;
  text-align: center;
}
.Home .content h2 {
  font-size: 70px;
  color: #fff;
}

.Home.content p {
  font-size: 26px;
}
.btn-menu {
  font-size: 16px;
  color: #111;
  background: #8c5a6a;
  display: inline-block;
  padding: 10px 30px;
  margin: 30px;
  letter-spacing: 3px;
  text-decoration: none;
  transition: 0.5s;
}
.btn-menu:hover {
  letter-spacing: 7px;
}
.navbar {
  color: #fff;
  text-align: center;
}
h3 {
  font-size: 60px;
  margin: 20px;
}
#about-text {
  color: #111;
  margin: 10px;
  padding: 24px;
  font-size: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.card-text {
  color: #111;
  font-size: 20px;
}
#menu-text,
#experts-text,
#testimonial-text,
#contactus-text {
  color: #111;
  font-size: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000009a;
}
#ex-contain:hover .overlay {
  opacity: 1;
}

.text-Ex {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cook-img {
  background: url("../images/cooking-image.jpeg");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box-1,
.box-2,
.box-3 {
  color: #fff;
  font-size: 20px;
  margin-top: 10%;
  font-style: italic;
}
h4 {
  font-size: 30px;
  color: #fff;
}
h6,
.github {
  font-size: 14px;
}
#back {
  text-align: center;
  margin: 10px;
  text-decoration: none;
}
